.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  font-family: 'Times New Roman', Times, serif;
}
header{
  text-align: center;
}
p:hover {
  background-color: yellow;
}
a:hover {
  background-color: purple;
}
header:hover {
  background-color: orange;
}
img.logo{
  width:70px;
  height:auto;
}
a.navbar:active {
  color: yellow;
  text-decoration: underline;
}
footer.tiny{
  font-size: 2pt;
}
p.fun{
  text-decoration: underline wavy;
  color:deeppink;
}
header.decorated{
  text-decoration-line: overline;
    text-decoration-style: dotted;
    color:coral;
}
#big{
  font-size:50pt;
  color: navy;
  text-decoration-thickness: 5px;

}
main {
  display: flex;
  flex-direction: column;
}

 @media (min-width: 576px) {
   main {
     flex-direction: row;
   }

   nav.layout,
   aside {
     flex-grow: 0;
     flex-shrink: 0;
     flex-basis: 20vw;
   }
 }
nav.navbar{
  background-color: rgb(66, 65, 65);
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    color: white;
    padding: 10px;
}
a.navbar{
  color: white;
    text-decoration: none;
}
ul.navbar{
  display: flex;
    list-style-type: none;
    flex-direction: row;
}
li.navbar {
  padding: 10px;
}
@media (max-width: 600px) {
  nav.navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }

  nav.navbar ul.navbar {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  nav.logo {
    width: 100%;
    align-items: center;
    padding: 5px;
  }

  nav.navbar ul.navbar li.navbar {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  nav.navbar ul.navbar li.navbar a.navbar {
    padding: 10px;
    display: block;
  }
}